#grid {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-gap: 0px;
  border: 1px solid gray;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  font-size: 6px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple{
  background-color: purple !important;
}
